server {
    listen 80;
    listen [::]:80;
    server_name ahmedfrotendprojetfinal.chickenkiller.com;
    
    # Redirection HTTP vers HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    server_name ahmedfrotendprojetfinal.chickenkiller.com;

    # Configuration SSL
    ssl_certificate /etc/letsencrypt/live/ahmedfrotendprojetfinal.chickenkiller.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ahmedfrotendprojetfinal.chickenkiller.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    # Redirection vers le service sur le port 3000
    location / {
        proxy_pass http://localhost:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}